@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* COLORES GLOBALES */

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-size: 16px;
    --background-color-primary:rgb(245, 247, 255);
    --btn-color-primary: linear-gradient(to bottom, rgb(255, 136, 255), rgb(172, 70, 255));
    --box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.14);
    --btn-active-color: black;
}


/* RESETS */


* {
    box-sizing: border-box;
}
html {
    font-family: "Roboto", serif;
}
body{
    margin: 0;
}

h1, h2, h3, h4, p, ul {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    list-style: none;
    padding-left: 0;
}
input {
    outline: none;
    font-family: inherit;
}
button {
    border: none;
    font-family: inherit;
    cursor: pointer;
}
select {
    font-family: inherit;
}
img {
    width: 100%;
}

a {
    text-decoration: none; 
    color: inherit;
    outline: none; 
    background: none; 
}

a:hover, a:focus, a:active {
    text-decoration: none; 
    color: inherit; 
}

